@import '../../../Theme';

.mika-video-player-toolbar-function-Setting-button-container {
  height: 24px;
  width: 24px !important;
  overflow: hidden;
  position: relative;

  > button {
    width: 120px;
    height: 100%;

    position: absolute;
    left: 50%;
    transform: translateX(-50%) scale(0.8) translateY(5%);
  }
}

.mika-video-player-toolbar-function-setting-panel-title {
  font-size: 14px;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}
