@keyframes mika-video-player-danmaku {
  0% {
    transform: translate3d(var(--translateX), 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

.mika-video-player-danmaku-container-paused {
  .mika-video-player-danmaku-normal,
  .mika-video-player-danmaku-bottom,
  .mika-video-player-danmaku-top {
    animation-play-state: paused !important;
  }
}

.mika-video-player-danmaku-container {
  --opacity: unset;
  --fontFamily: unset;
  --fontWeight: unset;
  --textShadow: unset;

  font-family: var(--fontFamily);
  font-weight: var(--fontWeight);
  text-shadow: var(--textShadow);

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  user-select: none;

  color: transparent;
}

.mika-video-player-danmaku {
  --color: unset;
  --offsetY: unset;
  --duration: unset;
  --offset: unset;
  --translateX: unset;
  --fontSize: unset;
  --delay: unset;

  position: absolute;
  will-change: transform, opacity;
  content-visibility: auto;
  white-space: nowrap;


  opacity: var(--opacity);
  font-size: var(--fontSize);
  color: var(--color);
}

@keyframes mika-video-player-danmaku-disappear {
  0%, 99% {
    opacity: var(--opacity);
  }
  100% {
    opacity: 0;
  }
}


.mika-video-player-danmaku-normal {
  top: var(--offsetY);
  z-index: 100;
}

.mika-video-player-danmaku-normal.mika-video-player-danmaku-animation {
  animation: mika-video-player-danmaku var(--duration) linear var(--delay) forwards;
}

.mika-video-player-danmaku-bottom {
  z-index: 102;

  bottom: var(--offsetY);
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}

.mika-video-player-danmaku-top {
  z-index: 101;

  top: var(--offsetY);
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}


.mika-video-player-danmaku-bottom.mika-video-player-danmaku-animation,
.mika-video-player-danmaku-top.mika-video-player-danmaku-animation {
  animation: mika-video-player-danmaku-disappear var(--duration) linear var(--delay) forwards;
}
