@keyframes mika-video-player-danmaku {
  0% {
    transform: translateX(var(--translateX));
  }
  100% {
    transform: translateX(-100%);
  }
}

.mika-video-player-danmaku-container-paused {
  .mika-video-player-danmaku,
  .mika-video-player-danmaku-bottom,
  .mika-video-player-danmaku-top {
    animation-play-state: paused !important;
  }
}

.mika-video-player-danmaku,
.mika-video-player-danmaku-bottom,
.mika-video-player-danmaku-top {
  --opacity: unset;
  --fontSize: unset;
  --fontFamily: unset;
  --fontWeight: unset;
  --textShadow: unset;
  --color: unset;
  --top: unset;
  --duration: unset;
  --offset: unset;
  --translateX: unset;

  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  pointer-events: none;
  z-index: 100;
  opacity: var(--opacity);
  font-size: var(--fontSize);
  font-family: var(--fontFamily);
  font-weight: var(--fontWeight);
  text-shadow: var(--textShadow);
  color: var(--color);
  will-change: transform;
}

@keyframes mika-video-player-danmaku-disappear {
  0%, 99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.mika-video-player-danmaku {
  top: var(--top);
  animation: mika-video-player-danmaku var(--duration) linear;
}

.mika-video-player-danmaku-bottom {
  bottom: var(--top);
  left: 50%;
  transform: translateX(-50%);
  animation: mika-video-player-danmaku-disappear var(--duration) linear;
}

.mika-video-player-danmaku-top {
  top: var(--top);
  left: 50%;
  transform: translateX(-50%);
  animation: mika-video-player-danmaku-disappear var(--duration) linear;
}

.mika-video-player-danmaku-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}
