::cue {
    background-color: transparent;
    color: white;
    font-weight: 800;
    font-family: 方正粗圆_GBK, serif;
    text-shadow: -1px -1px 2px black,
                1px -1px 2px black,
                -1px 1px 2px black,
                1px 1px 2px black;


}
